.card {
	display: inline-block;
	color: #fff;
	padding: 1px;

	-webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.matched IMG{
	opacity: 0.25;
}
